<div class="container mb-5 mt-5">
    <div class="pricing card-deck flex-column flex-md-row mb-3">
        <div class="card card-pricing text-center px-3 mb-4"> <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">Standard</span>
            <div class="bg-transparent card-header pt-4 border-0">
            </div>
            <div class="card-body pt-0">
                <ul class="list-unstyled mb-4">
                    <li>0 points</li>
                    <li>Basic support</li>
                </ul> 
            </div>
        </div>
        <div class="card card-pricing popular shadow text-center px-3 mb-4"> <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">Gold</span>
            <div class="bg-transparent card-header pt-4 border-0">
            </div>
            <div class="card-body pt-0">
                <ul class="list-unstyled mb-4">
                    <li>more then 1000 points</li>
                    <li>4x Airport Lounge Access Reward </li>
                </ul> 
            </div>
        </div>
        <div class="card card-pricing text-center px-3 mb-4"> <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">Platinium</span>
            <div class="bg-transparent card-header pt-4 border-0">
            </div>
            <div class="card-body pt-0">
                <ul class="list-unstyled mb-4">
                    <li>Up to 15 users</li>
                    <li>Email & phone support</li>
                    <li>Monthly updates</li>
                    <li>Free cancelation</li>
                </ul> 
            </div>
        </div>
    </div>
</div>